body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}


.input-default {
    padding: 17px 20px;
    min-width: 350px;
    background: #060606;
    border-radius: 8px;
    border: 1px solid #2c2c2c;
    color: #fff;
}

.input-default:focus {
    border: 1px solid #585858;
}

/* This is the deualt button styles */

.button-default {
    padding: 3px 30px;
    background: #DBFF00;
    border-radius: 8px;
    margin: 0px 0px 0px -5px;
    font-weight: 600;
}

.max-width {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

 img {
    max-width: 100%;
    border-radius: 4px;
}

.nft-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nft-row h3 {
    font-size: 16px;
    font-weight: 500;
    color: #c9c9c9;
}

.nft-col {
    width: 23%;
    margin: 7px 8px;
}

.image-container {
    margin: 10px 0px 0px 0px;
}


/* Mobile Sytles */
  @media screen and (max-width: 600px) {
    .nft-row {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

  }



  /*  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; */